<% content_for :title, "Login" %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<div class="border-form-div text-center container">
  <h2 class="text-dark font-weight-bold rounded mb-4 p-1">Sign in</h2>
  <div class="align-items-center">
    <%= form_with(:url => new_session_path, class: 'form-group') do |f| %>
      <div class="form-group mx-sm-3 mb-2">
        <%= f.email_field :email, :autofocus => true, :placeholder => 'Email address', class: 'form-control mb-2'  %>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <%= f.password_field :password, :placeholder => 'Password', class: 'form-control mb-2' %>
      </div>
      <hr> 
      <%= f.submit "Sign in", :class=>'btn btn-outline-primary mb-2 ' %>
    <% end %>
  </div>
   <div class="text-center">
    Not a Member?
    <%= link_to "Sign Up", register_path %>
  </div>
</div>